@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Hammersmith+One&family=Literata:opsz,wght@7..72,300&family=Righteous&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');

*{
    margin:0;
    /*font-family: 'Literata', serif;;*/
    font-family: 'Kumbh Sans', sans-serif;
}


.navbar-wrap{
    width:100%;
    position:absolute;
    /*height:70px;*/
    z-index: 100;
}

.navbar{
    list-style: none;
    display:flex;
    background-color: rgba(138, 137, 135, 0.1);
    transition: top 1s;
    padding-right:40px;
}

.navbar.mobile{
    list-style-type:none;
    background-color: #EFEBE0;
    display:flex;
    height:70px;
    background-color: #1c3749;
}

/*.navbar.scrolled{
    background-color: rgb(178, 175, 173, 0.97)
}*/



.space-between{
    width:970px;
}

.logo-container{
    padding-top:20px;
    text-align:center;
    color:white;
    cursor: pointer;
} /*REMOVE*/

.logo{
    width:35px;
    height:35px;
    margin-bottom:17px;
}

.menu-link-wrap{
    display:flex;
}

.menu-link{
    padding-right:40px;
    padding-top:25px;
    color:white;
    font-weight: 500;
    text-decoration: none;
}

.menu-link:hover{
    color: #1c3749;
    cursor: pointer;
}

.insta-logo{
    align-items: center;
    color: white;
   
    padding-top:25px;

}


.fa-brands:hover{
    color: rgb(218, 213, 213);
    cursor: pointer;
}

.hamburger{
    margin-top: 17px;;
    margin-left:26px;
    padding-top:15px;
    position:relative;
    display:block;
    width:30px;
    cursor:pointer;
    height:35px;
    appearance:none;
    background: none;
    outline:none;
    border:none;
}



.hamburger .bar,
.hamburger:before,
.hamburger:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    margin: 5.5px 20px;
    transition: 0.4s;
    position: absolute;
}

.hamburger:before {
    top: -0px; /* Adjust this value as needed */
}

.hamburger:after {
    top: 12px; /* Adjust this value as needed */
}

.hamburger.is-active:before{
    transform:rotate(-45deg) translate(-4px, 5px);
}

.hamburger.is-active:after{
    transform:rotate(45deg) translate(-3px, -5px);
}

.hamburger.is-active .bar{
    opacity:0;
}

.mobile-nav{
    display:block;
    position:fixed;
    top:0;
    left:100%;
    width:100%;
    min-height:100vh;
    z-index:98;
    background-color: /*#38B6FF;*/ white;
    padding-top:120px;
    opacity:97%;
}

.mobile-nav.is-active{
    left:0;
    transition:0.4s;
}

.mobile-nav a{
    display:block;
    width:100%;
    max-width:200px;
    margin: 0 auto 16px;
    text-align:center;
    margin-bottom:16px;
    padding:12px;
    background-color:#1c3749;;
    text-decoration:none;
    color:white;
}

.mobile-nav a:hover{
    background-color: #ED6D1C;
}


.wrapper{
   height:100vh; /*this was causing the javascript scroll code not to work as the content height exceeded the viewport height- but then the video did not fit in the window (vertical)*/ 
  
   /*min-height:100vh; added this to fix video fitting vertical issue iaffecting the scrollbar js code*/
   background-color: rgb(218, 213, 213);
   overflow-y:auto;
   overflow-x: hidden;

   perspective: 10px;
}

.background-image-1{
    background-image: url(phone-on-table.webp);
    width:100%;
    height:400px;
    background-attachment: fixed;
    /*background-size:100% 100%;*/
    background-size: cover;
    padding: 100px 0px;
    position:relative;
    
}

.service1-header{
    text-align: center;
    padding-top: 180px;;
    font-size: 50px;
    color:#1c3749;;
}

.form-intro{
    background-color: #1c3749;;
    height:200px;
}

.form-intro-text{
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    color:white;
}

.arrow{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top:50px;
    color: white;
}

.contact-form-container{
    /*max-width: 600px;*/
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    padding:20px;
    text-align: center;
    color:white;
  
    background-color: #b5cbda;

}

form{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    grid-gap: 10px;
    width:100%;
    
}

.text-input{
    min-width:400px;
}

label{
    text-align:center;
    font-weight: bold;
    color:#1c3749;
    font-size:25px;
    margin-top:20px;
}

textarea{
    min-height:150px;
    min-width:400px;
    background-color:#1c3749;
    color:white;
}



.company, .full-name, .email{
    background-color: #6D3918;
    color:white;
    max-width: 600px;
}

.submit-button{
    font-size:20px;
    font-weight:bold;
    color:#161540;
    background-color: white;
    margin-top:20px;
    padding:6px;
    /*padding-left:32px;*/
    text-align: center;
    cursor: pointer;
}

.which-services{
    margin-top:20px;
}

.checkbox{
    font-size:18px;
    margin-bottom: 20px;
}

.social-media-block{
    bottom:0;
    width:100%;
}

.social-media-wrap{
    list-style-type: none;
    display:flex;
    justify-content: center;
    margin:0;
    padding:0;
    background-color:#1c3749;
}

.socials{
    color:white;
    align-items:center;
    text-decoration:none;
    padding:25px;
}

.fa-brands:hover{
    color: rgb(218, 213, 213);
}


/*@media screen and (min-width: 767px) and (max-width: 1024px) {*/
    
        
@media (min-width: 767px){
    /*.mobile-nav{
        display:none;
    }*/
    .hamburger{
        display:none;
    }
    .mobile-nav{
        display:none;
    }
}

@media (max-width: 767px){

    .menu-link-wrap{
        display:none;
    }
    .insta-logo{
        display:none;
    }
    .space-between{
        width:200px;
    }

    .title-div{
        font-size: 3rem;
        margin: 0;
    }
    .mission-text{
        padding: 40px 50px;;
        text-align: center;
        font-weight:500;
        font-size:1.2rem;
        color:white;
    }

    .service1-header{
        font-size: 2rem;
    }

    .services-grid{
        gap:22px;
    }

    .service-container{
        width: 100%;
        height: auto;
        display: flex;
    }
    
    .service-image-container{
        display:none;
    }

    .service-text{
        text-align: center;
        width: 100%;
    }

    .trust-us{
        width:100%;
        align-items: center;
        align-items: center;
        display: flex;
        padding:7px;
    }

    .testimonial{
        font-size: 1.2rem;
        text-align: center;
    }

    .contact-form-container label{
        font-size:1.2rem;
    }

    .background-image-1{
        background-image: url(phone-on-table.webp);
        background-attachment:scroll;
    }

    .background-image-2{
        background-image: url(camera-image.jpeg);
        background-attachment:scroll;
    }

    .background-image-3{
        background-image: url(facebook-table.webp);
        background-attachment:scroll;
    }
    
}

